@import "https://unpkg.com/open-props";
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
}


.page {
    color: var(--gray-9);
    /* background-color: var(--gray-0); */
    display: grid;
    grid-template-areas: "main";
    min-height: 80vh;
    font-family: var(--font-sans);
    position: absolute;
    /* margin-left: 340px; */
    margin-top: 30px;
  }
  .page__main {
    grid-area: main;
  }
.main {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: var(--size-4);
   
  }
  .main__form {
    max-width: 50em;
  }
  
  .form {
    color: var(--gray-9);
    background-color: var(--gray-3);
    width: 100%;
    /* border: 1px solid var(--gray-4); */
    border-radius: var(--radius-2);
  }
  .form__title {
    padding-inline: var(--size-3);
    padding-block: var(--size-7) var(--size-5);
    line-height: var(--font-lineheight-2);
    text-align: center;
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-6);
  }
  .form__content {
    padding-bottom: var(--size-7);
    padding-inline: var(--size-7);
  }
  .form__row {
    display: grid;
    gap: var(--size-3);
  }
  @media screen and (min-width: 38em) {
    .form__row {
      grid-template-columns: 1fr auto 1fr;
    }
  }
  .form__list {
    display: grid;
    gap: 0.7rem;
    list-style: none;
  }
  .form__item {
    color: var(--gray-0);
    background-color: var(--form__item_bd-cr);
    border-radius: var(--radius-2);
  }
  .form__item_facebook {
    --form__item_bd-cr: hsl(220, 31%, var(--lightness, 49%));
  }
  .form__item_facebook:hover {
    --lightness: 40%;
  }
  .form__item_twitter {
    --form__item_bd-cr: hsl(206, 79%, var(--lightness, 68%));
  }
  .form__item_twitter:hover {
    --lightness: 60%;
  }
  .form__item_google-plus {
    --form__item_bd-cr: hsl(6, 69%, var(--lightness, 61%));
  }
  .form__item_google-plus:hover {
    --lightness: 52%;
  }
  .form__social-btn {
    color: inherit;
    height: 3rem;
    padding-inline: var(--size-3);
    display: flex;
    gap: var(--size-2);
    align-items: center;
    text-decoration: 0;
  }
  .form__separator {
    position: relative;
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center;
    padding-block: var(--size-2);
    isolation: isolate;
  }
  .form__separator-word {
    display: grid;
    place-content: center;
  }
  @media screen and (min-width: 38em) {
    .form__separator-word {
      background-color: var(--gray-3);
      width: var(--size-7);
      aspect-ratio: 1;
      border: 1px solid var(--gray-5);
      border-radius: 50vw;
    }
  }
  .form__separator-word::before {
    content: "Or sign in manually:";
  }
  @media screen and (min-width: 38em) {
    .form__separator-word::before {
      content: "or";
    }
  }
  .form__separator-word::after {
    background-color: var(--gray-5);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-5%);
    width: 10%;
    height: 110%;
    z-index: -1;
  }
  @media screen and (min-width: 38em) {
    .form__separator-word::after {
      content: "";
    }
  }
  .form__btns {
    --columns: 1fr;
    display: grid;
    grid-template-columns: var(--columns);
  }
  @media screen and (min-width: 38em) {
    .form__btns {
      --columns: repeat(2, 1fr);
    }
  }
  .form__login-content {
    display: grid;
    gap: 0.7rem;
  }
  .form__input {
    width: 100%;
    height: 3rem;
    border: 0;
    border-radius: var(--radius-2);
    padding-inline: var(--size-3);
  }
  .form__input:focus {
    position: relative;
    z-index: var(--layer-2);
  }
  .form__submit-btn {
    color: var(--gray-0);
    background-color: var(--green-7);
    height: 3rem;
    border: 0;
    border-radius: var(--radius-2);
    cursor: pointer;
  }
  .form__submit-btn:hover {
    background-color: var(--green-8);
  }
  
  .primary-btn {
    color: var(--gray-4);
    background-color: var(--gray-9);
    padding: var(--size-4);
    cursor: pointer;
    font-size: 0.95rem;
    text-align: center;
    text-decoration: 0;
  }
  .primary-btn:hover {
    color: var(--gray-0);
  }


  h2{
    color: antiquewhite;
  }